<!-- TODO: test what happens when DOCTYPE is missing on yielded page (particularly without the layout file or Rails) -->
<!DOCTYPE html>
<html><!-- may not need html and head -->
  <head>
    <title>MiningEditor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- <link rel="stylesheet" type="text/css" href="config/mca.css"> -->
    <%= stylesheet_link_tag 'application' %>
    <!-- TODO: test whether other ace/*.js files are being loaded -->
    <%= javascript_include_tag "game.js" %>
    <!-- TODO: test what happens when these two lines are missing -->
    <%= javascript_include_tag "ace_editor.js" %>
    <%= javascript_include_tag "jscolor/jscolor.js" %>
  </head>

  <body oncontextmenu="return false;" onload='<%= "webGLStart();" unless @local %>' style="margin: 0px; border: none;">
    <center>
      <canvas id="webgl" style="position:fixed; left:0px; top:0px; margin: 0px; background: white; border: none;" width="1200" height="700"></canvas>
      <input id="worldName" type="hidden" value="<%= @world_name %>"></input>
      <input id="dbPos" type="hidden" value="<%= @db_pos %>"></input>
      <div id="settings">
        Display Settings - (<%= @local ? 'local world' : @world_name %>)
        <table id="settingsTable">
          <tr>
            <td>
              Sky color
            </td>
            <td>
              <input id="setSkyColor" class="settingsInput color {valueElement:'skyColor'}"/>
            </td>
            <td>
              <input type="hidden" id="skyColor" value="<%= @sky_color %>" onchange="settings.setSkyColor(document.getElementById('setSkyColor').color.rgb);"/>
            </td>
          </tr>
          <tr>
            <td>
              Fog
            </td>
            <td>
              <select id="shaderName" class="settingsInput" onchange="gluu.initStandardShader(document.getElementById('shaderName').value); settings.getSettingsURL();">
                <option value="bloom">bloom</option>
                <option value="standard">standard</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              Distance Level
            </td>
            <td>
              <input id="setDstLvl" class="settingsInputRange" type="range" min="0" max="40" value="20" step="1" onchange="settings.setDistanceLevel(this.value);"/>
            </td>
            <td id="setDstLvl_val"></td>
          </tr>
          <tr>
            <td>
              Sun light
            </td>
            <td>
              <input id="setSun" class="settingsInputRange" type="range" min="0" max="1" value="1" step="0.01" onchange="settings.setSun(this.value);"/>
            </td>
            <td id="setSun_val"></td>
          </tr>
          <tr>
            <td>
              Brightness
            </td>
            <td>
              <input id="setBrightness" class="settingsInputRange" type="range" min="0" max="1" value="1" step="0.01" onchange="settings.setBrightness(this.value);"/>
            </td>
            <td id="setBrightness_val"></td>
          </tr>
          <tr>
            <td>
              Crosshair
            </td>
            <td>
              <input id="togglePointer" class="settingsInput" type="checkbox" onchange="settings.togglePointer();" checked/>
            </td>
          </tr>
          <tr>
            <td>
              Edit Mode
            </td>
            <td>
              <input id="toggleEditMode" class="settingsInput" type="checkbox" onchange="settings.toggleEditMode();" checked/>
            </td>
          </tr>
          <tr>
            <td>
              Extend World
            </td>
            <td>
              <input class="settingsInputFiles localWorldSelector" type="file" webkitdirectory><br>
            </td>
          </tr>
        </table>
        Get URL<%= @local ? ' (will not load your local files)' : '' %><br/>
        <input type="text" id="settingsURL" class="settingsInput"/>
      </div>
      <div id="info2">
        Read more about
        <a href="http://koniec.org/mca/about" target="_blank">
          MCA</a><br/>
        Textures based on
        <a href="http://www.minecraftforum.net/topic/72747-faithful-32x32-pack-updateocelot-two-cats-new-saplings-ctm-17/" target="_blank">
          Faithful 32x32 Pack.</a>
      </div>
      <div id="tools">
        <div id="info">
          Read more about
          <a href="http://koniec.org/mca/about" target="_blank">
            MCA</a>. Textures based on
          <a href="http://www.minecraftforum.net/topic/72747-faithful-32x32-pack-updateocelot-two-cats-new-saplings-ctm-17/" target="_blank">
            Faithful 32x32 Pack.</a>
        </div>
        <div id="editor"></div>
        <a id="button1" href="javascript:executeJS();">Execute</a>
      </div>
      <div id="game-state">....</div>
      <% if @local %>
      <div id="worldSelectOverlay" class="overlay">
        <div class="formBackground">
          <p></p>
          X:
          <input id="local_x" type="number" step="1" placeholder="0"><br>
          Y:
          <input id="local_y" type="number" step="1" placeholder="100"><br>
          Z:
          <input id="local_z" type="number" step="1" placeholder="0"><br>
          <br>
          <button onclick="document.getElementById('fileSelector').click(); return false;">Select World</button>
          <form action="/help" style="display: inline;" target="_blank">
            <input type="submit" value="help" />
          </form>
          <input id="fileSelector" class="localWorldSelector" style="visibility: hidden; display: none;" type="file" webkitdirectory><br>
          <br>
          <button onclick="webGLStart()">Start</button>
          <ul id="selectedFiles">
          </ul>
        </div>
      </div>
      <% end %>
    </center>
  </body>
</html>
